<% comments.each do |comment| %>
    <% if comment.id.present? %>
	<p class="reply">
	    <span class="text-body"><%= comment.body %></span> 
	    | <span class="post-date">投稿日時: <%= comment.created_at %></span>
	</p>
    <% end %>
<% end %>
